# NOTE: This file is auto generated by OpenAPI Generator 7.12.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule Ory.Api.Elements do
  @moduledoc """
  API calls for all endpoints tagged `Elements`.
  """

  alias Ory.Connection
  import Ory.RequestBuilder

  @doc """
  Get Ory Elements configuration
  Returns a subset of the project's configuration for the given host. The response only contains non-sensitive data that is used to customize the behavior of Ory Elements.

  ### Parameters

  - `connection` (Ory.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, Ory.Model.ElementsConfiguration.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_configuration(Tesla.Env.client, keyword()) :: {:ok, Ory.Model.GenericError.t} | {:ok, Ory.Model.ElementsConfiguration.t} | {:error, Tesla.Env.t}
  def get_configuration(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/elements/configuration")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, Ory.Model.ElementsConfiguration},
      {400, Ory.Model.GenericError},
      {401, Ory.Model.GenericError},
      {403, Ory.Model.GenericError},
      {:default, Ory.Model.GenericError}
    ])
  end
end
